/* estilo navbar */
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
.logo {
  width: 100px;
  height: 100px; }

#navbarNavAltMarkup .nav-link {
  font-size: x-large;
  color: black; }
  #navbarNavAltMarkup .nav-link:hover {
    color: blue;
    font-style: italic; }

a.btn-social,
.btn-social {
  border-radius: 50%;
  color: #ffffff !important;
  display: inline-block;
  height: 54px;
  line-height: 54px;
  margin: 8px 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color .3s;
  -webkit-transition: background-color .3s;
  width: 54px; }

.btn-social .fa, .btn-social i {
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition: all .25s;
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
  -webkit-transition: all .25s; }

.btn-social:hover, .btn-social:focus {
  color: #fff;
  outline: none;
  text-decoration: none; }

.btn-social:hover .fa, .btn-social:focus .fa, .btn-social:hover i, .btn-social:focus i {
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transform: scale(1.3); }

.btn-social.btn-xs {
  font-size: 9px;
  height: 24px;
  line-height: 13px;
  margin: 6px 2px;
  width: 24px; }

.btn-social.btn-sm {
  font-size: 13px;
  height: 36px;
  line-height: 18px;
  margin: 6px 2px;
  width: 36px; }

.btn-social.btn-lg {
  font-size: 22px;
  height: 72px;
  line-height: 40px;
  margin: 10px 6px;
  width: 72px; }

.btn-facebook {
  background-color: #3b5998; }

.btn-instagram {
  background-color: #3f729b; }

.btn-instagram:hover {
  background-color: #548cb9; }

.btn-linkedin {
  background-color: #0976b4; }

.btn-linkedin:hover {
  background-color: #0b96e5; }

.btn-pinterest {
  background-color: #cc2127; }

.btn-pinterest:hover {
  background-color: #e04046; }

.btn-twitter {
  background-color: #55acee; }

.btn-twitter:hover {
  background-color: #83c3f3; }

.piePagina {
  text-align: center; }

.seccion2 img {
  width: 500px;
  height: 500px; }

.contenedor_index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 6.5fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header" "seccionPrincipal seccionPrincipal" "footer footer"; }

.seccionPrincipal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "seccion1 seccion2"; }

.footer {
  grid-area: footer; }

.seccionPrincipal {
  grid-area: seccionPrincipal; }

.seccion1 {
  grid-area: seccion1; }

.seccion2 {
  grid-area: seccion2; }

.header {
  grid-area: header; }

.texto {
  align-content: center; }
  .texto h1 {
    color: chocolate;
    font-size: xx-large;
    font-weight: bolder; }
  .texto h3 {
    color: darkslateblue;
    font-family: sans-serif;
    font-weight: bold;
    font-size: xx-large;
    font-style: italic; }

.contenedor_galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 2.3fr;
  grid-auto-columns: 1fr;
  gap: 1px 1px;
  grid-auto-flow: row;
  grid-template-areas: "header" "Principal-galeria" "Footer"; }

.header {
  grid-area: header; }

.Principal-galeria {
  grid-area: Principal-galeria; }

.Footer {
  grid-area: Footer; }

.principalGaleria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas: "titulo . . . ." "imagen1 imagen2 imagen3 imagen4 imagen5" "imagen6 imagen7 imagen8 imagen9 imagen10" "imagen-11 imagen12 imagen13 imagen14 imagen15"; }

.titulo {
  grid-area: titulo; }

.imagen1 {
  grid-area: imagen1; }

.imagen2 {
  grid-area: imagen2; }

.imagen3 {
  grid-area: imagen3; }

.imagen4 {
  grid-area: imagen4; }

.imagen5 {
  grid-area: imagen5; }

.imagen6 {
  grid-area: imagen6; }

.imagen7 {
  grid-area: imagen7; }

.imagen8 {
  grid-area: imagen8; }

.imagen9 {
  grid-area: imagen9; }

.imagen10 {
  grid-area: imagen10; }

.imagen-11 {
  grid-area: imagen-11; }

.imagen12 {
  grid-area: imagen12; }

.imagen13 {
  grid-area: imagen13; }

.imagen14 {
  grid-area: imagen14; }

.imagen15 {
  grid-area: imagen15; }

.principalGaleria img {
  width: 100%;
  height: 100%; }

@media (max-width: 700px) {
  .contenedor_galeria {
    display: grid;
    grid-template-rows: auto; }
  .principalGaleria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: "titulo" "imagen1" "imagen2" "imagen3" "imagen4" "imagen5" "imagen6" "imagen7" "imagen8" "imagen9" "imagen10" "imagen-11" "imagen12" "imagen13" "imagen14" "imagen15"; } }

@media (min-width: 700px) and (max-width: 1200px) {
  .contenedor_galeria {
    display: grid;
    grid-template-rows: auto; }
  .principalGaleria {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas: "titulo" "imagen1" "imagen2" "imagen3" "imagen4" "imagen5" "imagen6" "imagen7" "imagen8" "imagen9" "imagen10" "imagen-11" "imagen12" "imagen13" "imagen14" "imagen15"; } }

.servicios p {
  font-size: 30px;
  font-family: sans-serif; }

.servicios h1 {
  color: red;
  font-size: 40px;
  text-decoration: underline; }

.servicio1 img {
  width: 330px;
  height: 220px; }

.servicio2 img {
  width: 330px;
  height: 220px; }

.servicio3 img {
  width: 330px;
  height: 220px; }

.servicio4 img {
  width: 330px;
  height: 220px; }

.contenedor_servicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 6.5fr 0.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header header header header" "servicio1 servicio2 servicio3 servicio4" "footer footer footer footer"; }

.header {
  grid-area: header; }

.servicio1 {
  grid-area: servicio1; }

.servicio2 {
  grid-area: servicio2; }

.servicio3 {
  grid-area: servicio3; }

.servicio4 {
  grid-area: servicio4; }

.footer {
  grid-area: footer; }

@media (max-width: 700px) {
  .contenedor_servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.4fr 1.4fr 1.4fr 1.4fr 0.5fr;
    grid-template-areas: "header" "servicio1" "servicio2" "servicio3" "servicio4" "footer"; } }

@media (min-width: 700px) and (max-width: 1200px) {
  .contenedor_servicios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas: "header header" "servicio1 servicio2" "servicio3 servicio4" "footer footer"; } }

.somos p {
  font-size: 18px;
  font-family: sans-serif;
  line-height: 1.5; }

.somos .historia {
  color: darkviolet;
  font-weight: bold;
  font-size: 40px; }

.somos .mision {
  color: blue;
  font-weight: bold;
  font-size: 40px; }

.somos .vision {
  color: green;
  font-weight: bold;
  font-size: 40px; }

body {
  font-family: 'Noto Sans', sans-serif; }

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px; }

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px; }

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px; }

label {
  display: block;
  float: center; }

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ab4493;
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer; }

button p {
  color: #fff; }

span {
  color: #ab4493; }

.aviso {
  font-size: 13px;
  color: #0e0e0e; }

h1 {
  font-size: 39px;
  text-align: letf;
  padding-bottom: 20px;
  color: #1277bb; }

h3 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e; }

p {
  font-size: 14px;
  color: #0e0e0e; }

::-webkit-input-placeholder {
  color: #a8a8a8; }

::-webkit-textarea-placeholder {
  color: #a8a8a8; }

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848; }

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848; }

body {
  background-image: linear-gradient(to bottom, #f0eeee, #bec3c5); }
