@import './scss/utilidades/estilos.scss';

%estiloServicios {
    font-size: 30px;
    font-family: sans-serif;

}

.servicios {
    p {
        @extend %estiloServicios;
    }

    h1 {
        @include estiloTitulos(red, 40px);
    }

}

.servicio1 {


    img {
        width: 330px;
        height: 220px;
    }
}

.servicio2 {


    img {
        width: 330px;
        height: 220px;
    }
}

.servicio3 {


    img {
        width: 330px;
        height: 220px;
    }
}

.servicio4 {


    img {
        width: 330px;
        height: 220px;
    }
}

.contenedor_servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 6.5fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header header"
        "servicio1 servicio2 servicio3 servicio4"
        "footer footer footer footer";
}

.header {
    grid-area: header;
}

.servicio1 {
    grid-area: servicio1;
}

.servicio2 {
    grid-area: servicio2;
}

.servicio3 {
    grid-area: servicio3;
}

.servicio4 {
    grid-area: servicio4;
}

.footer {
    grid-area: footer;
}

@media (max-width: 700px) {
    .contenedor_servicios {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1.4fr 1.4fr 1.4fr 1.4fr 0.5fr;
        grid-template-areas:
            "header"
            "servicio1"
            "servicio2"
            "servicio3"
            "servicio4"
            "footer"

    }

}

@media (min-width: 700px) and (max-width: 1200px) {
    .contenedor_servicios {
        display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header"
    "servicio1 servicio2"
    "servicio3 servicio4"
    "footer footer"; 
    }


}