/* estilo navbar */

.logo{
    width: 100px;
    height: 100px;
}
#navbarNavAltMarkup{
    .nav-link{
        font-size: x-large;
        color: black;
        &:hover{
            color: blue;
            font-style: italic;
        }
    }
}